body {
    background-color: rgb(255, 213, 179);

    display: inline-block
}

#caixa1 {
    width: 300px;
    height: 300px;
    background-color: red;
    padding: 21px;
    margin: 101;
    border: 100px;
    display: inline;

}

#caixa2 {
    width: 301px;
    height: 301px;
    background-color: green;
    padding: 22px;
    margin: 100px;
    border: 100px;
    display: inline;

}

#caixa3 {
    width: 302px;
    height: 302px;
    background-color: blue;
    padding: 23px;
    margin: 100px;
    border: 101px;
    display: inline;

}

img {
    max-width: 140px;
    max-height: 200px;
}