* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    width: 100%;
    min-height: 100vh;
    min-height: 100dvh;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    justify-content: center;
}

header {
    background-color: brown;
    color: black;
    max-width: fit-content;
}

main {
    background-color: beige;
    color: black;
}

img {
    width: 300px;
    height: 400px;
}

footer {
    background-color: bisque;
    color: black;
}